header {
  height:80px;
  background-color: rgb(174, 166, 157);
}
header h1 {
  font-size:20px;
  color: white;
  text-align:center ;
  }
.contents{
  display: flex;
  flex-wrap: wrap;
}
h2{
  font-size:20px;
}
.favorites {
  background-color: rgb(210, 239, 249);
}
.place {
  background-color: rgb(245, 239, 196);
}
.want {
  background-color: rgb(250, 232, 235);
}
.mix {
  width: 33%;
  flex:auto;
}
.topic {
  text-align:center;
}
.btn{
  margin:40px;
  padding:10px 24px;
  width:45px%;
  color:white;
  border-radius:8px;
  display:inline-block;
}
.btn:hover{
  opacity: 0.7;
} 
.btn:active{
  box-shadow: none;
  position: relative;
  top:8px;  
}
.ha{
  background-color:pink;
  border-color: rgb(245, 141, 219);
  box-shadow:10px 10px #f6ddb7;
}
.ki{
  background-color:rgb(192, 231, 255);
  border-color: rgb(110, 175, 231);
  box-shadow:10px 10px #d2abf3;
}
